.dot-grid {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.dot-grid__wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.dot-grid__canvas {
  display: block;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
